/* Survey page styles */

.photo{
  width: 60%;
  padding: 10px;
}

form {
  margin: 0 auto;
  text-align: left;
  display: inline-block;
}

fieldset {
  border: none;
}

legend {
  text-transform: uppercase;
  font-size: 24px;
}

textarea:focus,
textarea:hover,
select:focus,
select:hover {
  background: #ffcc00;
  border: 2px solid #999999;
}

input[type="text"]:focus,
input[type="text"]:hover {
  background: #ffcc00;
  border: 2px solid #999999;
}

input[type="email"]:focus,
input[type="email"]:hover {
  background: #ffcc00;
  border: 2px solid #999999;
}

button:focus {
  border: 1px solid #006633;
  background-color: #009966;
  color: #ffffff;
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;}
button:hover {
  border: 1px solid #006633;
  background-color: #ffcc00;
  color: #000000;
  cursor: pointer;
}

#email-signup,
#band-members {
  display: none;
}

.container{
  text-align: center;
}

.newsletter{
  text-align: right;

}


/* Styles for larger screens */
@media screen and (min-width: 840px) {
  .photo{
    width: 40%;
  }
}
