/* Tour page styles */
table {
    width: 100%;
    padding-left: 10%;
}
th {
  color: #ffcc00;
}

.heading {
  display: inline-block;
  margin: 0;
}

.pick {
  width: 40px;
  height: 0%;
  padding: 10px;
}
